/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-black: rgb(8, 8, 8);
	--color-text-white: #eee;
	--color-background-lightmode: #eee;
	--color-background-darkmode: #000000;
}

ul {
	list-style: none;
	padding: 0;
}



/****************/
/* JOUW STYLING */
/****************/
body {
	background-image: url("../images/noise-882e9ee7.png");
	background-size: 50%;
	background-repeat: repeat;
	background-color: var(--color-background);
	background-blend-mode: darken;
	scroll-padding-top: 500em;
}

iframe {
	width: 310px;
	height: 200;
}

.About-Fallout,
.Special {
	padding: 3em 1em 2em 1em;
}

/*#region Nav*/
header {
	margin-bottom: 69px;
}

nav {
	display: flex;

	background-color: rgb(8, 8, 8);
	position: fixed;
	top: 0;
	left: 0;

	align-items: center;

	height: 69px;
	margin: 0 auto;
	padding: 0 16px;
	width: 100%;
	z-index: 99;
}

nav>ul {
	color: white;
	list-style-type: none;
}

.NavContent li a {
	font-size: 1em;
	text-decoration: none;
	color: white;
}

nav>img {
	height: 39px;
	width: 93px;
}

nav .MenuButton {
	margin-left: auto;
	background-color: transparent;
	height: 3em;
	aspect-ratio: 1 / 1;
	border: none;
	filter: invert();
}

.NavContent {
	display: none;
	grid-template: 0fr;
	gap: 2em;

	padding-left: 10%;
	padding-right: 10%;

	margin-top: 69px;
	padding-top: 2em;

	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(0, 0, 0);

	max-height: 100vh;

	overflow: hidden;
	position: absolute;
	align-items: center;
	padding-bottom: 100vh;
}

.NavContent.is-open {
	grid-template-rows: 1fr;
}


.NavContent li,
.Underline,
.UnderlineSmall {
	align-self: center;
	text-align: center;
}

.Underline {
	border-bottom: white 8px solid;
}

.UnderlineSmall {
	border-bottom: rgba(255, 255, 255, .8) 4px solid;
}

/*#endregion Nav*/

/* #region About */
.Image-Container {
	position: relative;
	top: 0;
	left: 0;
}

.Big-Image-Full {
	position: relative;

	object-fit: contain;
	width: 100%;
	z-index: 1;

}

.Centered-Image {
	position: absolute;
	object-fit: cover;
	width: 60%;
	z-index: 2;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.About-Fallout {
	display: flex;
	flex-direction: column;
}

.About-Fallout>article {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;

	width: 80%;

	margin-bottom: 20px;
	margin-left: 1.25em;
	margin-top: 1em;
	padding-left: 1.25em;
	border-left: 2px solid #818181;
}


.About-Fallout>h1 {
	font-size: 1em;
	margin-bottom: 0em;
	margin-top: 1em;
	font-weight: lighter;
}

.About-Fallout>h3 {
	font-size: 2.5em;
	margin-top: 0.2em;
	font-weight: bold;
}

.BuyButton {
	background-color: #ddb724;
	padding: 0.8em;
	font-size: 1.5em;
	border: none;
}

.PegiRating {
	height: 8em;
	object-fit: contain;
	margin-bottom: 2em;
	margin-top: 2em;
}

.Consoles {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
	padding-bottom: 1em;
}

.Consoles img {
	object-fit: contain;
	height: 1.5em;
	filter: invert();
}

/* #endregion About */

/* #region Features */
.Features,
.Addons {
	background-color: black;
	padding: 3em 1em 2em 1em;

}

.Features h2,
.Addons h2 {
	color: white;
	border-top: white solid 1px;
	border-bottom: white solid 1px;
	padding-left: 0.5em;
	font-size: 2em;
	padding-top: 0.2em;
	padding-bottom: .2em;
	margin-bottom: 1em;
}

.Slider {
	width: auto;
	height: 20em;
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;

	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;

	scroll-padding-top: 50em;
}

.Slide {
	width: auto;
	flex-shrink: 0;
	height: 30%;
	width: 100%;
	text-align: center;
	scroll-snap-align: start;
}

.Slider h3,
.Slider p,
.Addon-Content h3,
.Addon-Content p {
	color: white;
	padding-bottom: .2em;
	text-align: center;
}

.Slider img {
	object-fit: contain;
	height: 8em;
	margin-bottom: 3em;
}

.Slider a {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: var(--color-background);
	height: 1em;
}

.CarouselButtons>a {
	height: 2em;
	aspect-ratio: 1 / 1;
	border: white 1px solid;

	border-radius: 50%;

	margin: 0.5em;
	margin-bottom: 0;
}

.CarouselButtons {
	display: flex;
	justify-content: center;
}

.CarouselButtons a:active {
	height: 2.2em;
	aspect-ratio: 1 / 1;
	background-color: var(--color-background);
}

/* #endregion Features */

/* #region Add-on-content*/
.Addon-Content {
	display: flex;
	flex-direction: column;
}

.Addon-Content li {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	padding: 4em 1em 2em;
}

.Addon-Content img {
	object-fit: contain;
	width: 100%;
}

select {
	width: 10em;
	height: 2em;
	border-radius: 0%;
	text-align: center;
	font-size: large;
	border: 0em solid transparent;
	border-right: 1em solid transparent;

	text-transform: uppercase;
	font-weight: 700;

	color: #111;
}

/* #endregion Add-on-content */
/* #region Media */
.Media {
	padding: 3em 1em 2em 1em;
}

.Media h2 {
	color: rgb(0, 0, 0);
	border-top: rgb(0, 0, 0) solid 1px;
	border-bottom: rgb(0, 0, 0) solid 1px;
	padding-left: 0.5em;
	font-size: 2em;
	padding-top: 0.2em;
	padding-bottom: .2em;
	margin-bottom: 1em;
}

.Media select {
	background-color: #111;
	color: var(--color-background-lightmode);
	width: 100%;
	text-align: left;
	padding-left: .5em;
	margin-bottom: 2em;
}

.Media option {
	text-transform: uppercase;
}

.MediaContent-Featured {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.MediaContent-Featured img,
.MediaContent-Featured iframe {
	object-fit: contain;
	width: 100%;
}

.MediaContent-Featured iframe {
	aspect-ratio: 16 / 9;
}

.Media-Content {
	display: none;
}

.Media>.MediaContent-Featured {
	display: block;
}

#MediaSelect-Screenshots>ul,
#MediaSelect-Wallpapers>ul,
#MediaSelect-Concept>ul {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	justify-items: center;
	row-gap: 1em;
	column-gap: 0.2em;
	width: 100%;
}

#MediaSelect-Screenshots li>img,
#MediaSelect-Wallpapers li>img,
#MediaSelect-Concept li>img {
	position: relative;
	top: 0;
	object-fit: cover;
	width: 100%;
	transition: 0.2s;
}

#MediaSelect-Screenshots li>img:hover,
#MediaSelect-Wallpapers li>img:hover,
#MediaSelect-Concept li>img:hover {
	transform: translate(0, -10px);
}

/* #endregion Media */

/* #region Special*/
.Special {
	display: flex;
	flex-direction: column;
	gap: 0.5em
}

.Special span {
	color: #ddb724;
}

.Special img:nth-child(3){
	z-index: -99;
	border-bottom: #000000 4px solid;
}

.Special div {
	position: relative;
	height: 200px;
	top: -250px;
	left: 36px;
	margin-bottom: -11em;
	z-index: 0;
}

.Special iframe {
	width: auto;
}

.Special h2 {
	color: rgb(0, 0, 0);
	border-top: rgb(0, 0, 0) solid 1px;
	border-bottom: rgb(0, 0, 0) solid 1px;
	padding-left: 0.5em;
	font-size: 2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-bottom: 1em;
	font-size: 1.5em;
}

.Special button {
	height: 2em;
	font-size: 1.1em;
	text-align: left;
	padding-left: 0.5em;
	background: linear-gradient(to left, transparent 50%, black 50%) right;
	background-size: 300%;
	transition: 0.4s ease-out;

	color: black;
	border: none;

}

.Special button:focus {
	background-color: #000000;
	color: #eee;
	background-position: left;
}

/* #endregion Special */



@media (prefers-color-scheme: dark) {

	h1,
	h2,
	h3,
	h4,
	p,
	article {
		color: var(--color-text-white);
	}

	body {
		background-color: var(--color-background-darkmode);
	}

	.Media select,
	.Special button
	{
		background-color: var(--color-background-lightmode);
		color: var(--color-text-black);
	}

	.Media h2,
	.Special h2 {
		color: var(--color-text-white);
		border-top: var(--color-text-white) solid 1px;
		border-bottom: var(--color-text-white) solid 1px;
	}

	.Consoles img {
		filter: none;
	}

}