/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
	background-image: url("../images/noise-882e9ee7.png");
	background-size: 50%;
	background-repeat: repeat;
}

/*#region Nav*/
header {
	margin-bottom: 69px;
}

nav {
	display: flex;

	background-color: rgb(8, 8, 8);
	position: fixed;
	top: 0;
	left: 0;

	align-items: center;

	height: 69px;
	margin: 0 auto;
	padding: 0 16px;
	width: 100%;
	z-index: 99;
}

nav>ul {
	color: white;
	list-style-type: none;
}

.NavContent li a {
	font-size: 1em;
	text-decoration: none;
	color: white;
}

nav>img {
	height: 39px;
	width: 93px;
}

nav .MenuButton {
	margin-left: auto;
	background-color: #eee;
	height: 22px;
	aspect-ratio: 1 / 1;
}

.NavContent {
	display: none;
	grid-template: 0fr;
	gap: 2em;
	
	padding-left: 10%;
	padding-right: 10%;

	margin-top: 69px;
	padding-top: 2em;

	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(0, 0, 0);

	max-height: 100vh;

	overflow: hidden;
	position: absolute;
	align-items: center;
	padding-bottom: 100vh;
}

.NavContent.is-open {
	grid-template-rows: 1fr;
}


.NavContent li, .Underline, .UnderlineSmall{
	align-self: center;
	text-align: center;
}

.Underline {
	border-bottom: white 8px solid;
}

.UnderlineSmall {
	border-bottom: rgba(255, 255, 255, .8) 4px solid;
}

/*#endregion Nav*/

/* #region Sections */
.Image-Container
{
	position: relative;
	top: 0;
	left: 0;
}

.Big-Image-Full {
	position: relative;

	object-fit: contain;
	width: 100%;
	z-index: 1;

}
.Centered-Image
{
	position: absolute	;
	object-fit: cover;
	width: 60%;
	z-index: 2;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.About-Fallout{
	display: flex;
	flex-direction: column;
	margin-left: 1em;
	margin-right: 1em;
}

.About-Fallout > article
{
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;

	width: 80%;

	margin-bottom: 20px;
    margin-left: 1.25em;
	margin-top: 1em;
    padding-left: 1.25em;
	border-left: 2px solid #333333;
}

/* #endregion Sections */